#links,
#wrapper,
#image,
footer {
    float: none;
    width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    
}

@media (min-width: 501px) {
    #wrapper {
        width: 65%;
        float: right;    
    }
    
    #image {
        width: 34%;
        margin-right: 1%;
        float: left;
    }
}

@media (max-width: 800px) {
    #links {
        margin: 10px 0;
    }
    
    #links li {
        display: block;
        border-bottom: 10px #EDE6DE solid;
        text-align: center;
    }
    
}

@media (min-width: 801px) and (max-width: 1000px) {
    #links ul {
        display: flex;
    }

    #links li {
        padding: 0 20px;
    }
}

@media (min-width: 1001px) {
    #links {
        width: 34%;
        margin-right: 1%;
        float: left;
    }
}