/* default styles ------------------ */
* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    font: 16px Verdana;
    line-height: 1.6;
    background: #EDE6DE;
}


header {
    width: 100%;
    background-color: grey;
    height: 90px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

#wrapper {
    background-color: grey;
    /* height: 250px;
    width: 65%;
    float: right; */

}

#image {
    /* float: left; */
    background-color: red;
    /* width: 34%; */
    /* margin-right: 1%; */
    text-align: center;
}

#image img {
    max-width: 100%;
}

#links {
    /* width: 34%; */
    /* margin-right: 1%; */
    display: inline-block;
    background-color: grey;
    /* float: left; */
    margin-bottom: 10px;
}

#txt {
    padding: 20px;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: grey;
    text-align: center;
    font-size: 30px;
    height: 60px;
    margin-top: 10px;
}

li {
    list-style-type: none;
}

li:hover {
    background-color: white;
    cursor: pointer;
}